<span>
	<i {{bind-attr class=":fa isVisible:fa-check-square-o:fa-square-o"}}></i>
</span>
<span>
	{{marker.dnafeature.name}}
</span>
<span>
	{{marker.dnafeature.category.properties.symbol.name}}
</span>
<span>
	{{marker.start}}
</span>
<span>
	{{marker.end}}
</span>
<span>
	{{strandtext marker.strand}}
</span>
<span>
	{{strandtext marker.dnafeature.length}}
</span>